# Dependencies
node_modules/

# Build output
dist/
release/
src/renderer/sidebar.js
src/renderer/welcome.js

# OS files
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Nix
result
